body{
    background-color: aliceblue;
}
#log{
    background-color: white;
     position: absolute;
    border-radius: 20px;
    box-shadow: 2px 3px 4px blue;
    height: 300px;
    width: 500px;
    margin: 40px  700px;
    padding: 10px;
    top: 100px;

} 
#logo{
    position: absolute;
    top: 200px;
    left: 200px;
}
#logo p{
    font-weight: 400;
    font-style: italic;
}
#logo h1{
    color: blue;
    font-size: 50px;
    font-weight: 800;
}
aside h1{
    color: black;
    font-size: 2em;
    font-weight: 300;
}
#container{
    position: relative;
    top: 50px;
    left: 30px;

}
#search{
    color:white;
    font-weight: 300;
    background-color: blue;
    border-radius: 20px;
    width: auto;
    font-style: italic;
    padding: 10px;
    font-size: 1.5em;
    border: none;
    opacity: 0.9px;
}
#search:hover{
    color: rgb(141, 226, 43);
    padding: 10px;
}